n8n-workflows/03-postiz-schedule.json
{
  "name": "Postiz Schedule Post",
  "active": false,
  "nodes": [
    {
      "parameters": {"path": "sistem/postiz-schedule", "responseMode": "responseNode", "options": {}},
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 300],
      "id": "webhook-in"
    },
    {
      "parameters": {
        "url": "={{ $env.POSTIZ_BASE_URL }}/api/public/v1/posts",
        "sendHeaders": true,
        "headerParameters": {"parameters": [
          {"name": "Authorization", "value": "={{ $env.POSTIZ_API_KEY }}"},
          {"name": "Content-Type", "value": "application/json"}
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"type\": \"schedule\", \"date\": $json.scheduled_at, \"tags\": $json.tags || [], \"posts\": $json.posts }",
        "method": "POST"
      },
      "name": "Postiz — Schedule",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "id": "postiz"
    },
    {
      "parameters": {"respondWith": "firstIncomingItem", "options": {}},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300],
      "id": "respond"
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Postiz — Schedule", "type": "main", "index": 0}]]},
    "Postiz — Schedule": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}
  },
  "meta": {"description": "Триггер: POST /webhook/sistem/postiz-schedule {scheduled_at, posts:[{integration, value:{content, image?}}], tags?}. Используется content-distribution скиллом."}
}
